/*  your css code here. If applicable */
.container{
	width: 200px;
	padding: 40px;
	background-color: rgba(232, 227, 227, 0.967);
	box-shadow: 30px solid black;
}

.btn{
	padding: 10px;
	background-color: orange;
	color: white;
	border-radius: 10px;
	border: none;
}
